.NetworkInfoBar
    white-space: nowrap
    background-color: #e7e7e7
    height: 6.5vh
    margin: 0
    padding: 0
    color: #303030
    font-size: 2vh
    font-weight: 600
    display: flex
    align-items: center
    justify-content: space-between
    *
        padding: 0
        margin: 0
    h1
        font-size: 2.25vh
        margin: 1vh
        margin-left: 1.5vh

    .networkInfoBarTextArea
        display: flex
        justify-content: space-between
        align-items: center
        gap: 7vh
    div
        .networkInfoBarText
            display: flex
            justify-content: space-between
            gap: 1vh
            p
                font-size: 1.5vh
                margin-top: 0.6vh
                margin-bottom: 0.6vh
                width: max-content
                justify-items: left
            div
                display: flex
                flex-direction: column
                align-items: flex-start

    .networkInfoBarTextAreaColumn1
        width: 36vh
    .networkInfoBarTextAreaColumn2
        width: 8vh
    .networkInfoBarTextAreaColumn3
        width: 10vh

    .visualizeButton
        cursor: pointer
        user-select: none
        font-weight: 700
        align-items: center
        margin-right: 2vh
        padding-right: 2vh
        padding-left: 2vh
        padding-top: 1vh
        padding-bottom: 1vh

    .visualizeButton:hover
        background-color: gray
