.NetworkInfoBar
    overflow: hidden
    white-space: nowrap
    background-color: #e7e7e7
    height: 6.5vh
    margin: 0
    padding: 0
    color: #303030
    font-size: 2vh
    font-weight: 600
    display: flex
    align-items: center
    justify-content: space-between
    *
        padding: 0
        margin: 0
    h1
        font-size: 2.25vh
        margin: 1.5vh
        margin-left: 1vw

    .networkInfoBarTextArea
        display: flex
        justify-content: space-between
        align-items: center
    .networkInfoBarText
        padding-left: 7vmin
        p
            font-size: 1.5vh
            margin-top: 0.7vh
            margin-bottom: 0.7vh
            width: max-content
            justify-items: left
